//registry.figma.com/npm/c529fc08-0e8c-4fb6-83aa-7d52d710f960/registry/:_authToken=figp_NEI7mxBY7B3hmP5lqT24lzaGxF58WeeUk63Qhak1
@make-kits:registry=https://registry.figma.com/npm/c529fc08-0e8c-4fb6-83aa-7d52d710f960/registry/